<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{file_head.title}}</title>
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <div class="article">
      <h2 class="article-title">{{file_head.title}}</h2>
      <div class="article-info">
        <div class="article-date">时间:{{file_head.date}}</div>
        <div class="article-author">作者:{{file_head.author}}</div>
      </div>
      <section class="article-content">{{file_content}}</section>
    </div>
    <script src="./index.js"></script>
  </body>
</html>
