<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{file_head.title}}</title>
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <div class="my-content">
      <h1>{{file_head.title}}</h1>
      <h2>时间{{file_head.date}}</h2>
      <h3>作者:{{file_head.author}}</h3>
      {{file_content}}
    </div>
    <script src="./index.js"></script>
  </body>
</html>
